<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components GameControl, Odd and Even</li>
        <li>The Game Control Should have buttons to start and stop the game</li>
        <li>When starting the game, an event (Holding an increment number) Should get emitted each second  (ref - serInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more event should get emitted (clearinterval(ref))</li>
        <li>A new odd component should get created for every odd number emitted, the same should happen for even component (on even numbers)</li>
         <li>Simply output odd-NUMBER or even-NUMBER in the two components</li>
         <li>style the element eg paragraph  holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
</div>